<% content_for(:page_title, "Your Tasks") %>
<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    
    <button class="inline-flex items-center mx-auto max-w-7x mt-2 px-4 py-2 bg-red-600 hover:bg-red-700 text-white text-sm font-medium rounded-md">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
              </svg>

	<%= link_to 'New Task', new_task_path %> 
  </button>
    <div class= "pt-2" style="height: 600px; overflow-y: auto;">
      <!-- list break -->
      <% @tasks.each do |task| %>
      
      <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
        <!-- the rest of your code to display a task -->
        <div class="flex justify-between">
          <%= link_to task.category do %>
          <div class="text-gray-400 text-xs"><%= task.category.name %></div>
          <%end%>
          <div class="text-gray-400 text-xs">
            <% if !task.completed && task.date_due < Time.zone.now.beginning_of_day %>
            <span class="text-red-600 font-bold">(Overdue)</span>
            <% elsif !task.completed && task.date_due >= Time.zone.now.beginning_of_day && task.date_due <= Time.zone.now.end_of_day %>
            <span class="text-red-600 font-bold">(Due Today)</span>
            <% else %>
       
            <% end %>
          </div>
         </div>
         <%= link_to task, class: "font-bold hover:text-yellow-800 hover:underline" do %>
         <% if task.completed %>
          <del><%= task.title %></del>
          <% else %>
          <%= task.title %>
          <% end %>
    <% end %>
    <div class="flex justify-between">
        <div class="text-sm text-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
            </svg><%= truncate(task.details, length: 250) %>
        </div>
        <div><strong>Due:</strong> <%= task.date_due.strftime('%Y-%m-%d') %>
        
       <%= button_to 'Completed', toggle_completion_task_path(task), method: :put, class: "text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 #{'bg-gray-500 hover:bg-gray-600 focus:ring-gray-300 dark:focus:ring-gray-800 shadow-lg shadow-gray-500/50 dark:shadow-lg dark:shadow-gray-800/80' unless task.completed} #{'bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80' if task.completed}" %>
    </div>
     
        </div>
         
      </div>
      
      <%end%>
   
    </div>

    

  </div>