
<h1><%= @task.title %></h1>

<p><strong>Details:</strong> <%= @task.details %></p>
<p><strong>Date Due:</strong> <%= @task.date_due %></p>
<p><strong>Category:</strong> <%= @task.category.name %></p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
