<% content_for(:page_title, "Welcome to ChronoMemo #{current_user.first_name.capitalize}") %>

<div class="grid grid-cols-3 gap-x-20">
  <div>
    <h2 class="text-2xl font-bold mb-4">Stats</h2>
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2">
        <div class="p-4 bg-green-100 rounded-xl">
          <div class="font-bold text-xl text-gray-800 leading-none"><%= current_user.first_name %>!</div>
          <div class="mt-5">
            <button type="button" class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition">
             <a href="/tasks"> View All Tasks </a>
            </button>
          </div>
        </div>
      </div>
      <div class="col-span-1">
      <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
        <div class="font-bold text-2xl leading-none">
        <%= Task.where(user_id: current_user.id, completed:true).count %> tasks
        </div>
        <div class="mt-2"> Finished</div>
      </div>
      </div>
      <div class="col-span-1">
      <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
        <div class="font-bold text-2xl leading-none">
        <%= Category.where(user_id: current_user.id).count %> Categories
        </div>
      </div>  
      </div>
      <div class="col-span-2">
        <div class="p-4 bg-purple-100 rounded-xl text-gray-800">
          <div class="font-bold text-xl leading-none">Tasks for today</div>
          <div class="mt-2">
          <%= Task.where(user_id: current_user.id, completed: true).where('date_due::date <= ?', Date.today).count %> 
            of
          <%= Task.where(user_id: current_user.id).where('date_due::date <= ?', Date.today).count %>  completed</div>
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <h2>Other Tasks</h2>
    <div style="height: 400px; overflow-y: auto;">
      <!-- list break -->
      <% @tasks.each do |task| %>
      
      <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
      
        <div class="flex justify-between">
          <%= link_to task.category do %>
          <div class="text-gray-400 text-xs"><%= task.category.name %></div>
          <%end%>
          <div class="text-gray-400 text-xs">
            <% if task.completed %>
            <span class="text-green-600 font-bold">(Completed)</span>
            <% elsif task.date_due < Time.zone.now.beginning_of_day %>
            <span class="text-red-600 font-bold">(Overdue)</span>
            <% else task.date_due >= Time.zone.now.beginning_of_day && task.date_due <= Time.zone.now.end_of_day %>
            <span class="text-red-600 font-bold">(Due Today)</span>
            
           
            
            <% end %>
          </div>
         </div>
         <%= link_to task, class: "font-bold hover:text-yellow-800 hover:underline" do %>
      <%= task.title %>
    <% end %>
        <div class="text-sm text-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
          </svg><%= truncate(task.details, length: 100) %>
        </div>
     
        
      </div>
      
      <%end%>
      <!-- list break -->
    </div>
  </div>

  <div>
    <h2>Categories</h2>
    <div>
      <!-- list break -->
      <% @categories.each do |category| %>
      
      <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
      
        <div class="flex justify-between">
                   <div class="text-gray-400 text-xs"> <%= link_to tasks_path(category_id: category.id) do %>
                    <p class="text-sm leading-6 text-gray-900">
                      <%= category.tasks.where(user_id: current_user.id).count %> tasks
                    </p>
                    <% end %>
                  </div>
        </div>
          <%= link_to category, class: "font-bold hover:text-yellow-800 hover:underline" do %>
          <%= category.name %>
          <% end %>
        <div class="text-sm text-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
          </svg><%= truncate(category.details, length: 100) %>
        </div>
     
        
      </div>
      
      <%end%>
      <!-- list break -->
    </div>
  </div>
</div>

